[submodule "third_party/orc"]
	path = third_party/orc
	url = https://github.com/apache/orc.git
[submodule "third_party/tpch"]
	path = third_party/tpch
	url = https://github.com/tsafin/tpch-tools.git
[submodule "third_party/xsimd"]
	path = third_party/xsimd
	url = https://github.com/xtensor-stack/xsimd.git
